rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    
    match /layout/{allPaths=**} {
      allow read;
    }
    match /users/{userId}/layout.json {
      allow read,write: if request.auth.uid == userId;
    }
  }
}
